server:
  port : 7777
  servlet:
    context-path: /api

spring:
  profiles:
    active: local
    include: aws, credentials, oauth
  jpa:
    defer-datasource-initialization: true
    generate-ddl: true
    database: mysql
    datasource:
      driver-class-name: com.mysql.cj.jdbc.Driver
      initialization-mode: always
    hibernate:
      ddl-auto: update
    show-sql: true


---
# 개발
spring:
  profiles: local

  datasource:
    url: jdbc:mysql://localhost:3306/profolio?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: root
    password: ssafy
    driver-class-name: com.mysql.cj.jdbc.Driver

---
# 배포 환경
spring:
  profiles: prod
  datasource:
    url: jdbc:mysql://k5b203.p.ssafy.io:3306/profolio?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: root
    password: {{password}}
    driver-class-name: com.mysql.cj.jdbc.Driver
