@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.main-section1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 2rem; */
  text-align: center;
}
.main-container {
    margin: auto;
}
.section1-img-box {
    margin-top: 28vh;
}
.section1-text-box {
    position: relative;
    font-size: 2rem;
    left: 40px;
    bottom: 55vh;
}

.main-btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.main-btn-hover:hover {
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.main-btn-hover:focus {
    outline: none;
}

.main-btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.main-header {
    font-size: 4rem;
    font-family: 'SDSamliphopangche_Outline';
}
  
.section-text {
    font-size: 1.7rem;
    margin-top: 3rem;
    /* margin-left: 5%; */
    text-align: center;
    font-family: 'S-CoreDream-6Bold';
}
