@font-face {
  font-family: 'paybooc-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChosunSg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.template-box {
  display: flex;
  justify-content: space-around;
  min-width:1000px;
  /* border: solid #928888 6px; */
}

.main-card {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  height: 350px;
  margin: 2rem;
  position: relative;
  width: 300px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 3px 5
  px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-align: center;
}

.main-card:hover {
  transform: translateY(-10px) scale(1.105) translateZ(0);
  box-shadow: 0 20px 40px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.main-header4 {
  font-size: 4rem;
  font-family: 'paybooc-Bold';
}
.line-container4 {
  width: 150px;
  margin-left: 470px;
}
.line4 {
  border-bottom: 5px solid #0239af;
}
.section-text4 {
  font-size: 1.7rem;
  margin-top: 3rem;
  text-align: center;
  font-family: 'paybooc-Bold';
}
.desc {
  text-align: center;
  color: #b6b6b6;
  font-family: 'ChosunSg';
}