@font-face {
  font-family: 'paybooc-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.main-section2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  /* text-align: center; */
}
.container-btn {
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
}
.btn-hover.color {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  font-size: 18px;
  font-family: 'paybooc-Bold';
  width: 140px;
}
.btn-hover {
  width: 100px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.main-section2-img {
  margin-top: 50px;
  width: 550px;
}
.main-section2-content {
  margin-right: 80px;
  margin-top: 40px;
}
.main-header2 {
  font-size: 4rem;
  font-family: 'paybooc-Bold';
}
.section-text2 {
  font-size: 1.7rem;
  margin-top: 3rem;
  text-align: center;
  font-family: 'paybooc-Bold';
}
.line-container2 {
  width: 150px;
  margin-left: 160px;
}
.main-line2 {
  border-bottom: 5px solid #0239af;
}