.portfolio-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 5%;
}
.portfolio-card{
    box-shadow: 9px 9px 10px 10px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 15px;
    margin: 5%;
    height: 25vh;
    line-height: 25vh;
    font-weight: bold;
    font-family: 'S-CoreDream-6Bold';
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.portfolio-card:hover{
    transform: translateY(0) scale(1.1) translateZ(0);
}
.preview_img{
    margin: 0 10%;
    height: 40vh;
}
.portfolio-item{
    display: flex;
}