.resume-part-title {
  font-size: 30px;
  color: #0053b8;
  font-weight: bold;
}
.resume-part-sub {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 50px;
}
.image-label {
  display: flex;
  width: 120px;
  height: 150px;
  cursor: pointer;
  border: 2px solid #ccc;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.image-file-size {
  width: 120px;
  height: 150px;
}
.gallery-icon { 
  width: 80px;
  height: 80px;
}
#imageInput {
  display: none;
}
.resume-part-table {
  padding-left: 40px;
  display: inline-block;
}
.resume-part-table > tr > td{
  padding-left: 20px;
}
.resume-part-box {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(230, 230, 230, 0.12); */
  padding: 30px 0px;
  margin: 20px 0px;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.20);
  width: 600px;
}
.resume-part-table > tr > td > input {
  border-radius: 5px;
  border: 2px solid #ccc;
  padding: 2px 3px;
}
.resume-part2-box {
  display: flex;
  text-align: left;
  justify-content: center;
  background-color: rgba(212, 212, 212, 0.12);
  padding: 30px 0px;
  margin: 20px 0px;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.20);
  width: 600px;
}
.resume-part2-input {
  border-spacing: 2px 5px;
}
.resume-part2-input > tr > td > input {
  width: 120px;
  margin-left: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  padding: 2px 3px;
}
.pl-15 {
  padding-left: 15px;
}
.hr-border-m-40 {
  width: 600px;
  height: 1px;
  background-color: #7e7b7bf6;
  margin: 40px 0px;
}
.graduation {
  display: inline-block;
  margin-left: 8px;
}
.select-graduation {
  width: 120px;
  border-radius: 5px;
  border: 2px solid #ccc;
}
.select-graduation > option:hover {
  background-color: #ccc;
}

.resume-p2-career {
  margin-left: 10px;
  width: 330px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #ccc;
  resize: none;
  margin-top: 10px;
}
.resume-p2-exp {
  margin-left: 10px;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #ccc;
  resize: none;
  margin-top: 10px;
}
.plus-btn-box {
  display: flex;
  align-items: center;
}
.plus-btn {
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  border: 2px solid #ccc;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume-p2-award {
  margin-left: 10px;
  width: 310px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #ccc;
  resize: none;
  margin-top: 10px;
}
.resume-p5-project {
  margin-left: 10px;
  width: 330px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #ccc;
  resize: none;
}
.resume-p5-summary {
  margin-left: 10px;
  width: 330px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #ccc;
  resize: none;
  margin-top: 10px;
}
.project-input-width {
  width: 330px !important;
}
.tech-stack-box {
  display: inline-block;
  height: 24px;
  background-color: rgba(204, 204, 204, 0.623);
  border-radius: 5px;
  padding: 2px 5px;
  margin-right: 5px;
  text-align: center;
}
.tech-stack-box:hover {
  background-color: rgba(160, 159, 159, 0.74);
}
.tech-stack-selected {
  background-color: rgba(160, 159, 159, 0.74);
}
.range {
  appearance: none;
  outline: none;
  width: 12em !important;
  height: 0.3em;
  border-radius: 0.3em;
  margin: 0px !important;
}
.range-value {
  position: relative;
  color: black;
  left: 1em;
}
.range::-webkit-slider-thumb {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  background: #2c3e50;
  border: 0.2em solid #fff;
  border-radius: 1.2em;
  cursor: pointer;
}
.range::-moz-range-thumb {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  background: #2c3e50;
  border: 0.2em solid #fff;
  border-radius: 1.2em;
  cursor: pointer;
}
.range::-ms-thumb {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  background: #2c3e50;
  border: 0.2em solid #fff;
  border-radius: 1.2em;
  cursor: pointer;
}
.range::-webkit-slider-track {
  color: black;
}
.date-pick {
  height: 20px;
}
.theme--light.v-application {
  background: none;
}
.v-application--wrap {
  min-height: 30px;
}
.v-text-field {
  margin: 0px;
  padding: 0px;
}
.v-card {
  overflow: visible;
}
.v-menu__content {
  max-width: none;
}
.v-text-field .v-label--active {
  display: none;
}
.v-input {
  max-width: none;
  width: 120px;
}
.v-text-field input {
  font-size: 14px;  
  line-height: 10px;
  padding: 6px 0px;
}
.v-label {
  font-size: 14px;  
}
.delete-btn {
  position: relative;
  right: -12%;
  cursor: pointer;
}
.delete-btn-2 {
  position: relative;
  right: -9%;
  cursor: pointer;
}