.resume {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 8vh;
  height: 92vh;
  font-family: 'ELAND_Choice_M';
}
@media screen and (max-width: 1200px) {
  .resume-part {
    margin: 0 auto;
    grid-column: 3 / 13;
    padding: 50px 80px 0px;
  }
  .resume-wrapper {
    margin: 0 auto;
    width: 200px;
    font-size: 14px;
    position: fixed;
  }
}
@media screen and (min-width: 1200px) {
  .resume-part {
    grid-column: 4 / 13;
    padding: 50px 150px;
    margin: 0 auto;
  }
  .resume-wrapper {
    margin: 0 auto;
    width: 200px;
    font-size: 14px;
    top: 20vh;
    left: 20vw;
    position: fixed;
  }
}
@media screen and (min-width: 1400px) {
  .resume-part {
    grid-column: 4 / 13;
    padding: 50px 130px;
    margin: 0 auto;
  }
  .resume-wrapper {
    width: 200px;
    font-size: 14px;
    top: 20vh;
    left: 20vw;
    height: 30vh;
    position: fixed;
  }
  .step-progress{
    padding-left: 50px;
  }
}
.v-application ul{
  padding-left: 45px;
}
.step-progress {
  position: relative;
  list-style: none;
  padding-left: 45px;
}
.step-progress::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 24px;
  width: 10px;
  height: 100%;
  border-left: 2px solid #ccc;
}
.step-progress-item {
  position: relative;
  counter-increment: list;
  padding-top: 10px;
  padding-left: 15px;
  cursor: pointer;
}
.step-progress-item:not(:last-child) {
  padding-bottom: 50px;
}
.step-progress-item::before {
  display: inline-block;
  content: '';
  position: absolute;
  left: -21px;
  height: 100%;
  width: 10px;
}
.step-progress-item::after {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -38px;
  width: 32px;
  height: 32px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 30px;
  content: attr(data-step);
}
.step-progress-item.is-done::before {
  border-left: 2px solid #0053b8;
}
.step-progress-item.is-done::after {
  color: #0053b8;
  border: 2px solid #0053b8;
}
.step-progress-item.is-done > strong {
  color: #0053b8;
}
.step-progress-item.current::after {
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  top: 0;
  left: -38px;
  font-size: 14px;
  text-align: center;
  color: #0053b8;
  border: 2px solid #0053b8;
}
.step-progress-item.current > strong {
  color: #0053b8;
}
.step-progress strong {
  display: block;
}
.resume-next-btn {
  margin-top: 10px;
  width: 140px;
  text-align: center;
  line-height: 50px;
  height: 50px;
  background-color: #8994e3b9;
  border-radius: 40px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.resume-save-btn {
  margin-top: 50px;
  width: 120px;
  text-align: center;
  line-height: 50px;
  height: 50px;
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  border-radius: 30px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.resume-save-btn:hover{
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.resume-btn-box {
  display: flex;
  justify-content: center;
}