.them2{
    min-height: 100vh;
    padding-top: 5%;
    font-size: 1.5rem;
}
.them2-title{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}
.them2-box{
    margin: 5% 10%;
}
.them2-subtitle{
    margin: 5% 0;
    font-weight: bold;
    font-size: 3rem;
}
.them2-info-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.user-profile-img{
    width: 20vw;
}
.them2-username{
    font-weight: bold;
    font-size: 2rem;
}
.line2{
    display: flex;
    margin: 7% 0;
}
.line-title2{
    width: 8vw;
    height: 5vh;
    background-color: #E5EAFF;
    color: #0014BC;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    margin-right: 10%;
}
.blue_box{
    margin: 5% 0;
    border: 2px solid #0014BC;
    color: #0014BC;
    width: 30vw;
    height: 5vh;
    font-weight: bold;
    text-align: center;
}
.introduce{
    font-weight: bold;
}
.skill-desc{
    background-color: #F8F8F8;
    border-left: 15px solid #DCDCDC;
    font-size: 1rem;
    padding: 1%;
    margin: 5% 0;
}
.flex{
    display: flex;
    margin: 1%;
}
.level-color{
    width: 5vw;
    height: 4vh;
    border-radius: 15px;
    text-align: center;
    margin: 0 2%;
    font-weight: bold;
}
.level-circle{
    text-align: center;
    font-weight: bold;
    line-height: 4vh;
    width: 2.5vw;
    height: 5vh;
    border-radius: 70%;
    margin: 0 2%;
}
.red{
    color: #FF0000;
    background-color: #FFE7E7;
    border: 2px solid #FF0000;
}
.green{
    color: #009A2B;
    background-color: #E1FFE4;
    border: 2px solid #009A2B;
}
.yellow{
    color: #FFA800;
    background-color: #FFF4CB;
    border: 2px solid #FFA800;
}
.blue-line{
    text-decoration: underline;
    text-decoration-color: #0014BC;
    font-weight: bold;
    font-size: 2rem;
}
.skill-item{
    margin: 3% 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.them2-card{
    border: 2px solid #ececec;
    border-radius: 20px;
    padding: 3%;
    font-size: 1.3rem;
    margin: 3% 0;
}
.them2-cardname{
    font-size: 2rem;
    color: #0014BC;
    font-weight: bold;
    margin-right: 1%;
}
.them2-grayfont{
    color: #959595;
}
.them2-summary{
    font-weight: bold;
    margin: 0.5% 0;
}
.margin{
    margin: 2% 0;
}
.padding{
    padding: 0 3%;
}
.them2-bluefont{
    color: #0014BC;
    font-weight: bold;
    margin: 5%;
}