@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.them1{
    display: grid;
    padding-top: 8vh;
    height: 92vh;
    font-family: 'ELAND_Choice_M';
}
.them1 .menu{
    position: fixed;
    margin-left: 5%;
    margin-top: 5%;
    height: 20vh;
    width: 200px;
}
.checkmark {
    width: 40px;
    height: 40px;
    margin: auto;
  } 
  .path { 
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 500ms ease-in-out forwards;
    -webkit-animation: dash 900ms ease-in-out forwards; 
  }
  .check {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 500ms ease-in-out forwards;
    -webkit-animation: dash 900ms ease-in-out forwards;
    animation-delay: 200ms; 
    -webkit-animation-delay: 200ms;   
  } 
  @-webkit-keyframes dash {
    0% {  
      stroke-dashoffset: -1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: -1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
.menu > h4 {
    text-align: center;
    color: rgb(50, 126, 14);
}
.content{
    z-index: 1;
    width: 75vw;
    position: absolute;
    right: 0;
}
.buttons {
    margin: 10%;
    margin-top: 30px;
    text-align: center;
}
.btn-hover {
    width: 120px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 50px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-hover:focus {
    outline: none;
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-1 {
    background-image: linear-gradient(to right, #6f5cff, #5544eb, #6f5cff, #5725e1);
    box-shadow: 0 4px 15px 0 rgba(96, 65, 234, 0.75);
}
.menu-buttons{
    position: absolute;
    bottom: 3vh;
    left: 40px;
}
.menu-buttons div{
    width: 90px;
    height: 30px;
    margin: 15%;
    line-height: 30px;
    border-bottom: none;
    background-color: #ADB5F4;
    border-radius: 15px;
    text-align: center;
}
.info{
    display: grid;
    font-family: 'S-CoreDream-6Bold';
    grid-template-columns: 1fr, 1fr;
    border-bottom: 1px solid #dfdfdf;
    margin: 5% 5% 5% 5%;
}
.left{
    grid-column: 1 / span 4;
    border-right: 1px solid #dfdfdf;
    margin-top: 3%;
}
.right{
    grid-column: 5 / span 3;
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
}
.title{
    display: grid;
    margin-bottom: 10%;
}
.them1-box{
    border-radius: 70%;
    width: 10vw;
    height: 20vh;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 8%;
}
.profile-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.detail{
    margin: 0 auto;
    padding-top: 5%;
}
.slogan{
    margin-top: 5%;
}
.username{
    font-family: 'S-CoreDream-6Bold';
    color: #715ae4;
    font-size: 2vw;
    text-align: center;
}
.tel{
    text-align: center;
}
.email{
    text-align: center;
}
.name{
    font-family: 'S-CoreDream-6Bold';
    color: #715ae4;
    font-size: 28px;
}
.birth{
    margin-bottom: 5%;
}
.education{
    padding: 5%;
    padding-top: 7%;
}
.university{
    margin: 5% 0;
    font-size: 25px;
    font-weight: bold;
}
.sub{
    color: #756666;
    width: 15vw;
    margin-bottom: 3%;
}
.raw{
    display: flex;
}
.skill{
    margin: 5% 5% 5% 5%;
    padding-bottom: 3%;
    border-bottom: 1px solid #dfdfdf;
}
.skill-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5%;
}
.language{
    grid-column: 1 / span 1;
}
.management{
    grid-column: 2 / span 1;
}
.framework{
    grid-column: 3;
}
.certiedu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.celeft{
    grid-column: 1 / span 3;
    border-right: 1px solid #dfdfdf;
    margin-right: 8%;
}
.ceright{
    grid-column: 4 / span 3;
    margin-right: 10%;
}
.content-title{
    color: #656060;
    margin: 10% 0;
}
.card{
    margin: 30px 0;
    padding: 30px 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.mini-card{
    width: 80%;
    margin: 30px 0;
    padding: 15px 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.projects{
    margin: 5% 5% 5% 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.project-card{
    margin: 10px;
    padding: 30px 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.summary{
    font-weight: bold;
    margin: 3% 0;
}
.subtitle{
    color: #4a3b92;
    font-weight: bold;
    margin-top: 10%;
}
.skill-gray{
    width: 2vw;
    background-color: #e9e9e9;
    border: 1px solid #e0e0e0;
}
.skill-purple{
    width: 2vw;
    background-color: #8e7af1;
    border: 1px solid #a492fd;
}
.them1-skill-name{
    margin: 2% 5% 2% 0;
}
.them1-skill{
    margin: 2% 0;
}
.modal-bg{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 100vw;
    height: 100vh;
}
.modal{
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 3%;
    width: 20vw;
}
.pdfName-input{
    width: 90%;
    height: 4vh;
    margin: 5%;
    border: 1px solid #c4c4c4;
    border-radius: 15px;
}
#pdf{
    font-family: 'ELAND_Choice_M';
}